{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- BS4 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- JS BLOCK -->
    {% block js_content %}{%endblock%}
    <!-- CSS BLOCK -->
    {% block css_content %}{%endblock%}

    <style>
      input.form-control-me-2 {
        background-color: #abb5b6;
        width: 320px;
      }
      span.nav-welcome {
        color: rgb(230, 234, 238);
      }
      a.nav-link {
        color: rgb(108, 160, 211);
      }
    </style>
</head>
<body>    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">歡迎光臨</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">首頁</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  個人資訊
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/info">個人簡介</a></li>
                  <li><a class="dropdown-item" href="#">我的照片</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control-me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
              {% if request.session.loginFlag %}
                <span class="nav-welcome" >目前的使用者： </span>
                <span class="nav-welcome">{{ request.session.username }}</span>
                <a class="nav-link" href="/logout">登出</a>
              {% else %}
                <a class="nav-link" href="/login">登入</a>
                <a class="nav-link" href="/register">註冊</a>
              {% endif %}
            </form>
          </div>
        </div>
      </nav>
    <!-- MAIN BLOCK -->
    {% block content %}{%endblock%}
</body>
</html>